.row {
    margin: 0;
    padding: 0;
}

td > div > input {
    width: 60px;
}

.hr {
    margin-top: 20px;
}

.result-data {
    padding: 3px 3px 3px 10px;
    margin-top: 5px;
    border: 1px solid #1b6d85;
}