<form role="form">
    <div class="form-group">
        <label class="control-label">Оклад</label>
        <input required type="number" step="0.01" class="form-control" name="salary"
               ng-model="salary"/>
    </div>
    <div class="form-group">
        <label class="control-label">Кількість робочих днів у місяці</label>
        <input required type="number" step="0.01" class="form-control" name="numWorkDaysMonths"
               ng-model="numWorkDaysMonths"/>
    </div>
    <div class="form-group">
        <label class="control-label">Тривалість робочого дня програміста</label>
        <input required type="number" step="0.01" class="form-control" name="workDay"
               ng-model="workDay"/>
    </div>
    <div class="form-group">
        <label class="control-label">Кількість фактично відпрацьованих годин</label>
        <input required type="number" step="0.01" class="form-control" name="workHours"
               ng-model="workHours"/>
    </div>
</form>